body {
    background-color: rgb(228, 155, 155);
    text-align: center;
}


#game-board input {
    vertical-align: top;
    height: 200px;
    width: 200px;
    margin: 15px 15px 15px 15px;
    font-size: 60px;
}

#select-move input {
    height: 100px;
    width: 200px;
    margin: 15px 15px 15px 15px;
    font-size: 50px;
}

#reset-button input {
    height: 50px;
    width: 300px;
    font-size: large;
}